.price{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.price h6{
    font-size: 22px;
}
@media (max-width:992px) {
    .price h6{
        font-size: 18px;
    }
}
.price span{
    width: 40px;
    border-bottom: #717275 2px solid;
    height: 27.33px ;
    position: relative;
    flex: auto;
    margin: 0 15px;
}
.price strong{
    font-size: 22px;
    color: #D6A354;
}
@media (max-width:992px) {
    .price strong{
        font-size: 18px;
    }
}