.footer{
    padding: 0px 50px 80px 50px;
    position: relative;
}

.footer::after{
    position: absolute;
    content: '';
    height: 10px;
    width: 100%;
    left: 0;
    bottom: 0;
    background:  linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
}

.footer h5{
    font-size: 28px;
    margin-bottom: 24px;
}


.footer .footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    align-items: center;
}

@media (max-width:992px ) {
    .footer .footer-bottom{
        flex-direction: column;
    }
}

